Source: sopt
Section: science
Priority: optional
Maintainer: Debian Astro Team <debian-astro-maintainers@lists.alioth.debian.org>
Uploaders: Gijs Molenaar <gijs@pythonic.nl>, Ole Streicher <olebole@debian.org>
Build-Depends: catch,
               cmake,
               debhelper-compat (= 12),
               libblas-dev,
               libeigen3-dev,
               libspdlog-dev,
               libtiff5-dev
Standards-Version: 4.4.0
Vcs-Git: https://salsa.debian.org/debian-astro-team/sopt.git
Vcs-Browser: https://salsa.debian.org/debian-astro-team/sopt
Homepage: https://astro-informatics.github.io/sopt/

Package: libsopt3.0
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Section: libs
Description: Sparse OPTimisation shared library
 SOPT is a C package to perform Sparse OPTimisation.  It solves a
 variety of sparse regularisation problems, including the SARA
 algorithm.
 .
 SOPT is largely provided to support the PURIFY package, a companion
 open-source code to perform radio interferometric imaging, also
 written by the authors of SOPT.
 .
 This package contains the shared library.

Package: libsopt-dev
Architecture: any
Section: libdevel
Depends: libsopt3.0 (= ${binary:Version}), ${misc:Depends}, ${shlibs:Depends}
Description: Development package for Sparse OPTimisation library
 SOPT is a C package to perform Sparse OPTimisation.  It solves a
 variety of sparse regularisation problems, including the SARA
 algorithm.
 .
 SOPT is largely provided to support the PURIFY package, a companion
 open-source code to perform radio interferometric imaging, also
 written by the authors of SOPT.
 .
 This package contains the development files.
